<!-- Views/MaintenanceRecords/Index.cshtml -->
@model IEnumerable<TFMS.Models.Maintenance>

@{
    ViewData["Title"] = "Maintenance Records";
}

<h1>Maintenance Records</h1>

<p>
    <a asp-action="Create">Schedule New Maintenance</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualCompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdometerReadingKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle!.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualCompletionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OdometerReadingKm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerformedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaintenanceType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaintenanceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaintenanceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaintenanceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
